@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model LoginDemo.Models.UserTable
@* @inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
 *@
<ul class="navbar-nav">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <a class="form-inline" asp-area="" asp-controller="AccessAccount" asp-action="Logout">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccessAccount" asp-action="Login">Login</a>
            </li>
        }
    }
</ul>
